.add-phrase-modal {
  width: 500px;
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #000;
  margin: 0 auto;
  font-family: 'sans-serif';
}
.form-group {
  margin-bottom: 24px;
}
label {
  display: block;
  font-size: 14px;
}
input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #007aff;
  border-radius: 16px;
  font-size: 14px;
  box-sizing: border-box;
}
textarea {
  height: 200px;
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
}
.submit-btn {
  padding: 10px 40px;
  font-size: 16px;
  background: yellow;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
.close-btn {
  padding: 10px 40px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
} 