.notice-support-container {
    display: flex;
    width: 100%;
    gap: 40px;
    font-family: 'Outfit', sans-serif;
    background: #fff;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
  }
  
  

/* 왼쪽 영역 */
.left-panel {
  min-width: 300px;
  flex: 1.5;
  font-size: 13px;
}
.section {
  margin-bottom: 32px;
}
.section h3 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 15px;
}
.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.section li {
  width: 368px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.btn-group button {
  font-size: 11px;
  margin-right: 8px;
}
.pagination {
  text-align: center;
  margin-top: 8px;
}
.pagination button {
  font-size: 12px;
  margin: 0 4px;
}

/* 오른쪽 영역 */
.right-panel {
  flex: 2;
  min-width: 500px;
  font-size: 13px;
}
.write-box {
  border: 1px solid #ccc;
  padding: 16px 30px;
}
.write-box h3 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 15px;
}
.write-box input[type="text"],
.write-box textarea {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
  font-size: 13px;
  box-sizing: border-box;
}
textarea {
  height: 120px;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.options label {
  margin-right: 16px;
}
.options .Announ_box{
  display: flex;
  align-items: center;
  gap: 10px;
}
.file-upload {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.alert-send {
  margin: 20px 0;
}
.btn-register {
  float: right;
  padding: 6px 16px;
  font-size: 13px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}
.btn-register:hover {
  background-color: #005fcc;
} 

.empty-placeholder {
  display: inline-block;
  height: 30px;
  width: 100%;
  background-color: #f8f8f8;
}
