.dashboard {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  padding: 24px;
  background-color: #f9f9fb;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stat-card, .graph-card, .log-card, .alert-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.graph-card, .stat-grid, .alert-card{
  margin-bottom: 24px;
}
.stat-title {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: #1a55d1;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.chart-box, .log-box {
  background-color: #eef1f7;
  height: 120px;
  border-radius: 8px;
}

.alert-text {
  color: #d14343;
  font-weight: bold;
  text-align: start;
}
.alert-left{
  display: flex;
  align-items: center;
  
}
.alert-icon{
  width: 30px;
  max-width: 500px;       
  height: auto;          
  object-fit: cover;      
  object-position: center;
  display: block;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.blue-button {
  background-color: #257cff;
  color: white;
  padding: 14px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease;
}

.blue-button:hover {
  background-color: #1a55d1;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .stat-grid {
    grid-template-columns: 1fr;
  }
  .action-buttons {
    grid-template-columns: 1fr;
  }
}