*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 40px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.adminDashboard{
  max-width: 1100px;
  width: 100%;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  margin-top: 30px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.top-card,
.bottom-card {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 35px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  width: 300px;
  text-align: center;
}

.card span {
  display: block;
  font-size: 16px;
  color: #666;
}

.card .value {
  font-size: 25px;
  font-weight: bold;
  color: #0066ff;
}

.user-search input {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 260px;
  font-size: 14px;
}


.user-filter {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.user-filter button {
  background: #eee;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
}

.user-filter button.active {
  background: #0066ff;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

th, td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

th {
  background: #fafafa;
  color: #555;
}

select, .toggle {
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.toggle {
  width: 40px;
  height: 20px;
  position: relative;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: all 0.3s ease;
}

.toggle.active {
  background: #0066ff;
}

.toggle.active::before {
  left: 22px;
}

.edit-btn {
  background: #0066ff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}